/* src/components/TaskItem.css */

.task-item-container {
    border: 1px solid rgba(255, 255, 255, 0.094);
    /* border-radius: 16px; */
   
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(59, 59, 59, 0.217);
    transition: transform 0.2s;
    z-index: 0;
  }
/*   
  .task-item-container:hover {
    transform: scale(1.02);
  }
   */
  .summary-row {
    display: flex;
    padding: 1rem;
    cursor: pointer;
    align-items: center;
    gap: 1rem;
  }
  
  .summary-row:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .summary-cell {
    flex: 1;
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .admin-controls {
    display: flex;
    
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.05);
  }
  
  .edit-button,
  .delete-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: '1px solid rgba(255, 255, 255, 0.3)';
 border-radius: 10px;
    cursor: 'pointer';
  backdrop-filter: blur(10px);
   font-size: 1rem;
    transition: 'background 0.3s',
  }
  
  /* .edit-button {
    background-color: #28a745;
  }
  
  .edit-button:hover {
    background-color: #218838;
  } */
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  .task-item-container {
    /* Regular task item styles */
    transition: padding-bottom 0.3s ease; /* Smooth transition */
    z-index: 0;
  }
  
  .summary-row{

  }
  
  
